<div class="container container--breadcrumbs">
    <div class="inner">

        <nav class="nav nav--breadcrumbs" role="navigation">
            <ul class="nav__row flex">
                <li class="nav__list">
                    <a href="#" class="nav__item trans--all">Home</a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__item trans--all">Careers</a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__item trans--all">Trainee solicitors</a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__item trans--all">Our people</a>
                </li>
                <li class="nav__list">
                    <a href="#" class="nav__item trans--all">Profiles</a>
                </li>
                <li class="nav__list">
                    <span class="nav__item">Edward Couzens</span>
                </li>
            </ul>
        </nav>

    </div>
</div>