<header id="header" class="header" role="banner">

    <nav class="nav nav--header trans--all trans--ease-in-out" role="navigation">
        <ul class="nav__row flex">
            <li class="nav__list">
                <a href="#" class="nav__item trans--all">Who we are</a>
            </li>
            <li class="nav__list">
                <a href="#" class="nav__item trans--all">Services</a>
            </li>
            <li class="nav__list">
                <a href="#" class="nav__item trans--all">Insights</a>
            </li>
            <li class="nav__list">
                <a href="#" class="nav__item trans--all">Newsroom</a>
            </li>
            <li class="nav__list">
                <a href="#" class="nav__item trans--all">Careers</a>
            </li>
            <li class="nav__list">
                <a href="#" class="nav__item trans--all">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="search search--header">
        <button class="btn btn--search trans--all" aria-label="Search">
            <span class="btn__search-icon">
                <svg class="icon icon--search" viewBox="0 0 25 24">
                    <title>Search Icon</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                        <g transform="translate(-31.000000, -21.000000)" stroke="#FFFFFF" stroke-width="1.485">
                            <g transform="translate(0.000000, -16.000000)">
                                <g transform="translate(32.000000, 38.000000)">
                                    <path d="M19.25,9.66 C19.25,14.9960445 14.9401596,19.32 9.625,19.32 C4.30828901,19.32 0,14.9960445 0,9.66 C0,4.32395551 4.30828901,0 9.625,0 C14.9401596,0 19.25,4.32395551 19.25,9.66 Z"></path>
                                    <path d="M16.5896835,16.4882544 L23,22"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </span>
        </button>

        <form id="search-form" class="form form--search" action="#" name="search-form" method="get" role="search" aria-label="Global Search">
            <input id="search-field" class="form__input-search" type="search" name="search-field" aria-label="Search" class="form-control"
                value="" placeholder="Type to search.." autocomplete="off">
            <button class="btn btn--submit trans--all">
                <span class="btn__submit-icon">Go Search</span>
            </button>
        </form>
    </div>

    <div class="mobile-trigger">
        <button class="btn btn--burger trans--all">
            <span class="btn__burger-icon">Navigation</span>
        </button>
    </div>

</header>