<section class="container container--video">
    <div class="inner flex">

        <div class="video-intro">

            <div class="img">
                <noscript class="res-data" data-srcset="img/placeholder/video.jpg 0w" data-lazy="true">
                    <img src="img/placeholder/video.jpg" alt="Edward Counzens Video Conversation">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Edward Counzens Video Conversation"
                    class="res-img trans--all">
            </div>

            <button type="button" id="player-action" class="btn btn--play trans--all" aria-label="Play Video">
                <span class="btn__play-icon">
                    <svg class="icon icon--play" viewBox="0 0 23 34">
                        <title>Play Icon</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-1289.000000, -1377.000000)" stroke-width="2" stroke="#EC703E">
                                <g transform="translate(115.000000, 1336.000000)">
                                    <g>
                                        <g>
                                            <polygon transform="translate(1185.170000, 57.690000) rotate(-270.000000) translate(-1185.170000, -57.690000) " points="1185.17 47.52 1199.86 67.86 1170.48 67.86"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </span>
            </button>
        </div>

        <div class="video-main">
            <p class="copy copy--small">
                <strong>Nullam congue quis nunc vel fermentum. Mauris at quam eu sapien convallis feugiat. Donec ornare tellus eu
                    tempus consectetur.
                </strong>
            </p>
        </div>

    </div>
</section>