<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />

    <title>Profile | Edward Counzens</title>

    <meta name="description" content="This is my online profile" />
    <meta name="keywords" content="developer, profile, contact, information" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="//localhost:35729/livereload.js"></script>

</head>

<body>

    <div class="warpper">
        <!-- build:section layout.header -->
        <!-- /build -->

        <main id="main" class="main" role="main">

            <!-- build:section layout.breadCrumbs -->
            <!-- /build -->

            <!-- build:section layout.sectionProfile -->
            <!-- /build -->

            <!-- build:section layout.sectionVideo -->
            <!-- /build -->

            <!-- build:section layout.sectionSlider -->
            <!-- /build -->

        </main>

        <!-- build:section layout.footer -->
        <!-- /build -->
    </div>

    <script src="js/script.js" type="text/javascript" async></script>

</body>

</html>